/* Write your CSS here */
.about-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.about-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
}

.about-img {
  width: 100%;
}
