/* Write your CSS here */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-img-container {
  display: flex;

  justify-content: center;
  align-items: center;
  margin-top: 6px;
}
.home-img {
  width: 100%;
}
